@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --tw-bg-opacity: 1;
    background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}


.custom-loader {
    width: 240px;
    height: 44px;
    border-radius: 40px;
    color: #21B833;
    border: 4px solid;
    position: relative;
}

.custom-loader::before {
    content: "";
    position: absolute;
    margin: 4px;
    inset: 0 100% 0 0;
    border-radius: inherit;
    background: #21B833;
    animation: p6 1s infinite;
}

@keyframes p6 {
    100% {
        inset: 0
    }
}